{% extends "layout.html" %}
{% block body %}

<div class="row">
  <h3>Student </h3>
</div>
<div class="row">

  <!--Form container-->
  <div class="col-md-4">

    <!--Alert Message-->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dissmissible fade show" role="alert">
          {{message}}
          <button type="button" class="close" data-dissmiss="alert" aria-label="Close" >
            <span aria-hidden="true">X</span>
          </button>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="card card-body">

      <!--Form-->
      <form action="{{url_for('add_student')}}" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" name="fname" placeholder="First Name">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="lname" placeholder="Last Name">
        </div>

        <div class="form-group">
          <input type="email" class="form-control" name="email" placeholder="Email">
        </div>

        <button class="btn btn-success btn-block" name="button">Save</button>

      </form>

    </div>

  </div>

<!--Table container-->
  <div class="col-md-8">

    <table id="display_table" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <td>ID</td>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Email</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <!--display users from student table -->
        {% for row in list_user %}
        <tr>
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>{{row[3]}}</td>
          <td with="130">
            <a href="/edit/{{row[0]}}" class="btn btn-secondary btn-small">Edit</a>
            <a href="/delete/{{row[0]}}" class="btn btn-danger btn-small">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% endblock %}
